@import '../../assets/sass/vars';

.ReferencePage {
}

.Container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.Sidebar {
  flex-grow: 0;
  border-right: 1px solid lighten($line, 5%);
  padding: 40px 40px 40px 0;
}

.Content {
  flex-grow: 1;
  padding: 25px 0 50px 90px;

  .Table {
    padding-bottom: 45px;
    margin-bottom: 25px;
    border-bottom: 1px solid lighten($line, 5%);

    ul {
      padding-inline-start: 40px;

      p,
      a {
        display: inline;
        line-height: 20px;
      }

      a {
        font-size: 17px;
        color: $primary;
        font-weight: 700;

        &::before {
          content: '# ';
          color: lighten($primary, 35%);
        }

        &:hover {
          color: darken($primary, 10%);
        }
      }

      ul {
        margin-bottom: 3px;
        line-height: 1;

        a {
          font-weight: 400;
        }
      }
    }

    > ul {
      padding-inline-start: 0px;
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 200;
    margin: 0.67em 0 0.35em;
  }

  .Markdown {
    h2 {
      font-size: 30px;
      font-weight: 400;
      margin: 55px 0 15px;
      position: relative;

      &:first-of-type {
        margin-top: 15px;
      }

      &::before {
        position: absolute;
        content: '# ';
        color: lighten($primary, 30%);
        left: -23px;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 19px;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    strong {
      font-weight: 500;
    }

    em {
      font-style: italic;
    }

    a {
      color: $primary;

      &:hover {
        color: darken($primary, 10%);
      }
    }

    > p {
      margin: 10px 0 20px;
    }

    p {
      font-size: 18px;
      font-weight: 300;

      > code {
        font-family: $SFMono;
        font-size: 13px;
        color: $secondary;
      }
    }

    ul {
      list-style-type: initial;
    }

    ol {
      list-style-type: decimal;
    }

    ul,
    ol {
      padding-inline-start: 40px;

      li {
        font-size: 18px;
        font-weight: 300;
      }
    }

    pre {
      font-family: $SFMono;
      font-size: 13px;
      background: rgba(238, 238, 238, 0.35);
      border-bottom: 1px solid lighten($line, 5%);
      border-radius: 3px;
      padding: 10px;
    }
  }
}
